.task__container {
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    padding: 20px 0;
}

.task__first-row {
    display: flex;
    justify-content: space-between;
}

.task__first-row div {
    display: flex;
    align-items: center;
}

.task__first-row-text {
    width: 100%;
}

.project-label {
    margin-right: 10px;
    padding: 4px 10px;
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 12px;
    text-transform: lowercase;
    font-weight: bold;
    white-space: nowrap;
}

.task-edit__input {
    margin: 20px 0;
    width: 100%;
    border-radius: 5px 0 0 5px;
    background-color: #282828;
    outline: none;
    padding: 14px;
    font-size: 16px;

}

#project-select {
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    background-color: #282828;
    outline: none;
    padding: 13.5px 10px;
    border-left: none;
}

.task-edit__input-container {
    width: 95%;
}

@media (max-width: 900px) {
    .task-edit__input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #project-select, .task-edit__input {
        width: 95%;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 10px;
        margin-top: 0;
    }

    #project-select {
        margin-bottom: 20px;
    }

    .task__first-row {
        display: flex;
        align-items: flex-start;
    }

    .task__first-row div {
        display: flex;
        align-items: flex-start;
    }

    .task__first-row-text span.text {
        align-self: center;
    }

}
