.container {
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    padding: 20px 0;
}

.firstRow {
    display: flex;
    justify-content: space-between;
}

.firstRow div {
    display: flex;
    align-items: center;
}

.firstRowText {
    width: 100%;
}

.projectLabel {
    margin-right: 10px;
    padding: 4px 10px;
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 12px;
    text-transform: lowercase;
    font-weight: bold;
    white-space: nowrap;
}

.taskEditInput {
    margin: 20px 0;
    width: 100%;
    border-radius: 5px 0 0 5px;
    background-color: #282828;
    outline: none;
    padding: 14px;
    font-size: 16px;

}

.projectSelect {
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    background-color: #282828;
    outline: none;
    padding: 13.5px 10px;
    border-left: none;
}

.taskEditInputContainer {
    width: 95%;
}

.text {
    width: 100%;
}

.save {}

@media (max-width: 900px) {
    .taskEditInputContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .projectSelect, .taskEditInput {
        width: 95%;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 10px;
        margin-top: 0;
    }

    .projectSelect {
        margin-bottom: 20px;
    }

    .firstRow {
        display: flex;
        align-items: flex-start;
    }

    .firstRow div {
        display: flex;
        align-items: flex-start;
    }

    .firstRowText .text {
        align-self: center;
    }

}
