.task__container {
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    padding: 20px 0;
}

.task__first-row {
    display: flex;
    justify-content: space-between;
}

.task__first-row div {
    display: flex;
    align-items: center;
}

.task__first-row-text {
    width: 100%;
}

.project-label {
    margin-right: 10px;
    padding: 4px 10px;
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 12px;
    text-transform: lowercase;
    font-weight: bold;
    white-space: nowrap;
}
