.toggle {
    border-radius: 4px;
    padding: 4px 4px 0 4px;
    background-color: transparent;
    border: transparent;
    outline: none;
}

.button {
    color: hsla(0, 0%, 100%, .87);
}

.hidden {
    display: none;
}

.toggle:hover {
    background-color: grey;
}

.toggle {
    margin-left: 0;
}

@media (min-width: 768px) {
    .toggle {
        display: none;
    }
}
