.popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 400px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background-color: #424242;
    border-radius: 10px;
}

@media (max-width: 400px) {
    .popup {
        width: 350px;
    }
}
