.login-form {
    padding-top: 7%;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.login-form input {
    padding: 10px;
    font-size: 16px;
    margin: 20px 0;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
}

.login-container {
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.auth-selector {
    display: flex
}

.auth-selector div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.auth-selector div.selected {
    border-bottom: 4px solid darkslateblue;
    font-weight: bold;
}

.error-message {
    font-size: 12px;
    color: #bf2c2c;
}
