.popup {
    position: fixed;
    top: 44px;
    right: 3%;
    z-index: 12;
    width: 300px;
    border: 1px solid transparent;
    padding: 20px 20px;
    background-color: #424242;
    border-radius: 10px;
}
