#left-menu {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 305px;
    background-color: #282828;
    border-color: transparent;
    box-sizing: content-box;
    display: block;
}

@media only screen and (max-width: 768px) {
    #left-menu {
        z-index: 5;
        position: absolute;
        transition: width 0.4s ease-in;
        height: calc(100% - 44px);
    }

    #left-menu.hidden {
        width: 0;
        transition: width 0.4s ease-out;
    }
}
