.menuItems {
    padding: 30px;
}

.menuItem {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.projectItem {
    padding: 10px 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectItem div {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.category {
    justify-content: space-between;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    font-weight: bold;
}

a {
    color: hsla(0, 0%, 100%, 0.87);
    text-decoration: none;
}

.menuItem div {
    display: flex;
    align-items: center;
}

a.active {
    font-weight: bold;
}

a.active div {
    background-color: #383737;
    border-radius: 3px;
}

.addIcon {
}

.editIcon {
}
